<div class="onscreenKeyboard">
  
  <div class="whiteKeys">
    <span class="key white" {{action "playNote" "c3"}}><span class="note">c3</span><span class="hotkey" data-key="a">a</span></span>
    <span class="key white" {{action "playNote" "d3"}}><span class="note">d3</span><span class="hotkey" data-key="s">s</span></span>
    <span class="key white" {{action "playNote" "e3"}}><span class="note">e3</span><span class="hotkey" data-key="d">d</span></span>
    <span class="key white" {{action "playNote" "f3"}}><span class="note">f3</span><span class="hotkey" data-key="f">f</span></span>
    <span class="key white" {{action "playNote" "g3"}}><span class="note">g3</span><span class="hotkey" data-key="g">g</span></span>

    <span class="key white" {{action "playNote" "a4"}}><span class="note">a4</span><span class="hotkey" data-key="h">h</span></span>
    <span class="key white" {{action "playNote" "b4"}}><span class="note">b4</span><span class="hotkey" data-key="j">j</span></span>
    <span class="key white" {{action "playNote" "c4"}}><span class="note">c4</span><span class="hotkey" data-key="k">k</span></span>
    <span class="key white" {{action "playNote" "d4"}}><span class="note">d4</span><span class="hotkey" data-key="l">l</span></span>
    <span class="key white" {{action "playNote" "e4"}}><span class="note">e4</span><span class="hotkey" data-key=";">;</span></span>
    <span class="key white" {{action "playNote" "f4"}}><span class="note">f4</span><span class="hotkey" data-key='\"'>&quot;</span></span>
    <span class="key white" {{action "playNote" "g4"}}><span class="note">g4</span><span class="hotkey" data-key=""></span></span>

    <span class="key white" {{action "playNote" "a5"}}><span class="note">a5</span><span class="hotkey" data-key=""></span></span>
    <span class="key white" {{action "playNote" "b5"}}><span class="note">b5</span><span class="hotkey" data-key=""></span></span>
  </div>

  <div class="blackKeys">
    <span class="key black" {{action "playNote" "c3#"}}><span class="note">c3#</span><span class="hotkey" data-key="w">w</span></span>
    <span class="key black" {{action "playNote" "d3#"}}><span class="note">d3#</span><span class="hotkey" data-key="e">e</span></span>
    <span class="blank"></span>
    <span class="key black" {{action "playNote" "f3#"}}><span class="note">f3#</span><span class="hotkey" data-key="t">t</span></span>
    <span class="key black" {{action "playNote" "g3#"}}><span class="note">g3#</span><span class="hotkey" data-key="y">y</span></span>
    <span class="key black" {{action "playNote" "a4#"}}><span class="note">a4#</span><span class="hotkey" data-key="u">u</span></span>
    <span class="blank"></span>
    <span class="key black" {{action "playNote" "c4#"}}><span class="note">c4#</span><span class="hotkey" data-key="o">o</span></span>
    <span class="key black" {{action "playNote" "d4#"}}><span class="note">d4#</span><span class="hotkey" data-key="a">a</span></span>
    <span class="blank"></span>
    <span class="key black" {{action "playNote" "f4#"}}><span class="note">f4#</span><span class="hotkey" data-key=""></span></span>
    <span class="key black" {{action "playNote" "g4#"}}><span class="note">g4#</span><span class="hotkey" data-key=""></span></span>
    <span class="key black" {{action "playNote" "a5#"}}><span class="note">a5#</span><span class="hotkey" data-key=""></span></span>
  </div>
</div>