<div class="onscreenKeyboard" {{action "hotkeyPlayNote" on="keyDown"}}>
  
  <div class="whiteKeys">
    {{piano-key note="c4" hotkey="a" instrument=instrument}}
    {{piano-key note="d4" hotkey="s" instrument=instrument}}
    {{piano-key note="e4" hotkey="d" instrument=instrument}}
    {{piano-key note="f4" hotkey="f" instrument=instrument}}
    {{piano-key note="g4" hotkey="g" instrument=instrument}}

    {{piano-key note="a4" hotkey="h" instrument=instrument}}
    {{piano-key note="b4" hotkey="j" instrument=instrument}}
    {{piano-key note="c5" hotkey="k" instrument=instrument}}
    {{piano-key note="d5" hotkey="l" instrument=instrument}}
    {{piano-key note="e5" hotkey=";" instrument=instrument}}
    {{piano-key note="f5" hotkey='"' instrument=instrument}}
    {{piano-key note="g5" hotkey="" instrument=instrument}}

    {{piano-key note="a5" hotkey="" instrument=instrument}}
    {{piano-key note="b5" hotkey="" instrument=instrument}}
  </div>

  <div class="blackKeys">
    {{piano-key note="c4#" hotkey="w" instrument=instrument}}
    {{piano-key note="d4#" hotkey="e" instrument=instrument}}
    <span class="blank"></span>
    {{piano-key note="f4#" hotkey="t" instrument=instrument}}
    {{piano-key note="g4#" hotkey="y" instrument=instrument}}
    {{piano-key note="a4#" hotkey="u" instrument=instrument}}
    <span class="blank"></span>
    {{piano-key note="c5#" hotkey="o" instrument=instrument}}
    {{piano-key note="d5#" hotkey="p" instrument=instrument}}
    <span class="blank"></span>
    {{piano-key note="f5#" hotkey="" instrument=instrument}}
    {{piano-key note="g5#" hotkey="" instrument=instrument}}
    {{piano-key note="a5#" hotkey="" instrument=instrument}}
  </div>
</div>