<div class="onscreenKeyboard" {{action "hotkeyPlayNote" on="keyDown"}}>
  
  <div class="whiteKeys">
    {{piano-key note="c4" hotkey="a" colemakHotkey="a" instrument=instrument}}
    {{piano-key note="d4" hotkey="s" colemakHotkey="r" instrument=instrument}}
    {{piano-key note="e4" hotkey="d" colemakHotkey="s" instrument=instrument}}
    {{piano-key note="f4" hotkey="f" colemakHotkey="t" instrument=instrument}}
    {{piano-key note="g4" hotkey="g" colemakHotkey="d" instrument=instrument}}
    {{piano-key note="a4" hotkey="h" colemakHotkey="h" instrument=instrument}}
    {{piano-key note="b4" hotkey="j" colemakHotkey="n" instrument=instrument}}
    {{piano-key note="c5" hotkey="k" colemakHotkey="e" instrument=instrument}}
    {{piano-key note="d5" hotkey="l" colemakHotkey="i" instrument=instrument}}
    {{piano-key note="e5" hotkey=";" colemakHotkey="o" instrument=instrument}}
    {{piano-key note="f5" hotkey='"' colemakHotkey='"' instrument=instrument}}
    {{piano-key note="g5" hotkey="" instrument=instrument}}
    {{piano-key note="a5" hotkey="" instrument=instrument}}
    {{piano-key note="b5" hotkey="" instrument=instrument}}
  </div>

  <div class="blackKeys">
    {{piano-key note="c4#" hotkey="w" colemakHotkey="w" instrument=instrument}}
    {{piano-key note="d4#" hotkey="e" colemakHotkey="f" instrument=instrument}}
    <span class="blank"></span>
    {{piano-key note="f4#" hotkey="t" colemakHotkey="g" instrument=instrument}}
    {{piano-key note="g4#" hotkey="y" colemakHotkey="j" instrument=instrument}}
    {{piano-key note="a4#" hotkey="u" colemakHotkey="l" instrument=instrument}}
    <span class="blank"></span>
    {{piano-key note="c5#" hotkey="o" colemakHotkey="y" instrument=instrument}}
    {{piano-key note="d5#" hotkey="p" colemakHotkey=";" instrument=instrument}}
    <span class="blank"></span>
    {{piano-key note="f5#" hotkey="" colemakHotkey="" instrument=instrument}}
    {{piano-key note="g5#" hotkey="" colemakHotkey="" instrument=instrument}}
    {{piano-key note="a5#" hotkey="" colemakHotkey="" instrument=instrument}}
  </div>
</div>