
<div class="evolver">
  <p>
    GenSynth is a proof of concept platform for evolving new synthetic instruments.<br>
    Each new generation of instruments is a mixture of children bred and mutated from the previous generation.<br>
    <br>

    Click [Refresh] to regenerate the current generation.<br>
    Select the children instruments that you like and click [Next] to create the next generation.<br>

    <br>
    <span class="label label-warning">Warning</span> You may want to turn down the volume at first. Some of the sounds can be loud and harsh to listen to!
  </p>

  <div class="row">
    <div class="col-md-12">
      <h3>Parent Instruments</h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each content.networks}}
      {{graph-visualizer network=this}}
    {{else}}
      <div class="col-md-12">
        No Networks
      </div>
    {{/each}}
    {{!--
    <div class="col-md-12">
      <button class="btn btn-primary" disabled>Load from saved Engines</button>
    </div>
    --}}
  </div>

  <br>
  <div class="row">
    <div class="col-md-12">
      <h3>Children Instruments <small>Select at least one to evolve next generation</small></h3>
    </div>
  </div>

  <div class="row controls">
    <div class="col-md-12">
      {{!--
      <button class="btn btn-primary" disabled>[&lsaquo;] Back</button>
      --}}
      <button class="btn btn-primary" {{action "refreshGeneration"}}>[@] Refresh</button>
      <button class="btn btn-primary" {{action "nextGeneration"}} {{bind-attr disabled="noChildrenSelected"}}>[&rsaquo;] Next</button>
      <br>
      {{!--
      Evolution Step Size <input type="range" min="0" max="1" disabled><br>
      Freeze Topology <input type="checkbox" disabled><br>
      <div class="input-group">
        <button class="btn btn-primary" disabled>Simple</button>
        <button class="btn btn-default" disabled>Advance</button>
      </div>
      --}}
    </div>
  </div>

  <div class="row children">
    {{#each childNetworks}}
      {{instrument-child network=this}}
    {{else}}
      <div class="col-md-4">
        <div class="child">
          No children
        </div>
      </div>
    {{/each}}
  </div>

</div>