
<div class="evolver">
  
  <div class="row">
    <div class="col-md-12">
      <h3>Engine Graphs/Parameter View</h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each content.networks}}
      {{graph-visualizer network=this}}
    {{else}}
      <div class="col-md-12">
        No Networks
      </div>
    {{/each}}
    <div class="col-md-12">
    <button class="btn" disabled>Load from saved Engines</button>
    </div>
  </div>

  <div class="row controls">
    <div class="col-md-12">
      Evolution Controls<br>
      Evo Distance [--------|---]<br>
      <button class="btn" disabled>[&lsaquo;] Back</button>
      <button class="btn" {{action "refresh"}}>[@] Refresh</button>
      <button class="btn" disabled>[&rsaquo;] Next</button>
      <br>
      Freeze Topology []<br>
      [Simple/Advance]<br>
    </div>
  </div>

  <div class="row children">
    {{#each childNetworks}}
      {{instrument-child network=this}}
    {{else}}
      <div class="col-md-4">
        <div class="child">
          No children
        </div>
      </div>
    {{/each}}
  </div>

</div>